



<div class="container">
    <div class="content">
        <div class="title">
            <h1>{{getCar?.title}}</h1>
            <h2><b>Price:</b><span style="color:red;">{{getCar?.price}}&euro;</span></h2>
            <span>Added on:
                {{getCar?.addingDate}}
            </span>
            
        </div>
        <mat-carousel
        timings="250ms ease-in"
        [autoplay]="true"
        [loop]="true"
        [hideArrows]="false"
        [hideIndicators]="false"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        [maintainAspectRatio]="true"
        [proportion]=70
        >
            <mat-carousel-slide *ngFor="let image of getCar?.images"
            >
            <img src="{{getGoogleBucketUrl()+image.imageName}}"
            height="500px"
            >
            </mat-carousel-slide>
        </mat-carousel>
        <div class="details">
            <h2 style="text-indent:1.2rem;text-decoration:underline;">Car Details:</h2>
            <div class="lists">
                <ul class="firstListDetails">
                    <li>Car Number:<span class="itemProperty">{{getCar?.carNumber}}</span></li>
                    <li>Production Year:<span class="itemProperty">{{getCar?.productionYear}}</span></li>
                    <li>Second Hand:<span class="itemProperty">{{getCar?.secondHand}}</span></li>
                    <li>Cilindric Capacity:<span class="itemProperty">{{getCar?.cilindricCapacity}}</span></li>
                </ul>
                <ul class="secondListDetails">
                    <li>Brand: {{getCar?.brand?.name}}</li>
                    <li>Model Name {{getCar?.model}}</li>
                    <li>Fuel Type {{getCar?.fuelType?.name}}</li>
                    <li>Car Type: {{getCar?.carType?.name}}</li>
                </ul> 
            </div>
        </div>
        <div class="description">
            <h2 class="descriptionTitle">
                description:
            </h2>
           <p [innerHtml]="getCar?.description">

           </p>
        </div>
        
    </div>
    <div class="sidebar">
        <div class="vanzator">
            SELLER:
        </div>
        <div class="user">
            <mat-icon class="userIcon">account_circle</mat-icon>
            <div class="userDetails">
                <div class="name">
                    <p>{{getUser?.name}}
                        
                        {{getUser?.secondName}}</p>
                </div>
                <div class="email">
                    <p>
                        {{getUser?.email}}
                    </p>
                </div>
            </div> 
            
        </div>
        <div class="contact">
            <button mat-button color="#002F34" class="sendMessage" (click)="sendMessage()">Send message</button>
        </div>
    </div>
</div>