





<div class="container">
    <div class="myMessages">
        <h1>Inbox </h1>
    </div>
    <div class="messages">
        <div *ngIf="getMessages.length == 0" class="empty">
            <h2>There are no messages in inbox right now</h2>
        </div>
        <mat-card *ngFor = "let message of getMessages">
           <mat-card-header>
                <mat-card-title>
                    <h1>{{message.subject}}</h1>
                </mat-card-title>
            
                <mat-card-subtitle>
                    Message sent on {{message.created}} by {{message.userDTO?.name}}
                </mat-card-subtitle>
           </mat-card-header>
           <mat-card-content>
                {{message.content}}
           </mat-card-content>
           <mat-card-actions>
                <button mat-button color="warn" (click)="deleteMessage(message.id)">DELETE MESSAGE</button>
                <button mat-button color="primary" (click)="reply(message.senderId!)">RESPOND TO THE MESSAGE</button>
           </mat-card-actions>
        </mat-card>
    </div>
</div>