




<div class="container">
    <h1 class="pageTitle">Cars in the favorite list</h1>
    <div 
    *ngFor="let car of getFavoriteCars"
    class="car">
            <div class="title" (click)="getCar(car.id)">
                {{car.title}}
            </div>
        <div class="carNumber">
            <b>Car Number:</b>
            {{car.carNumber}}
        </div>
        <div class="price">
            <b>Price:</b>
            {{car.price}}&euro;
        </div>
        <div class="removeCarFromFavorite">
            <button mat-button color="warn" (click)="removeCar(car.id)">
                <mat-icon>
                   delete
                </mat-icon>
                Remove Car
            </button>
        </div>
    </div>
</div>