






.container
{
    width:70%;
    border:1px solid black;
    margin:5rem auto;
    padding:.9rem;
}

.brand
{
    display:flex;
    border-bottom:1px solid black;
    padding:.5rem;
    font-size:1.2rem;
}

.brandName
{
    width:25%;
}



.brandDescription
{
    width:50%;
    text-overflow:'...';;
}

.actions
{
    width:20%;
    display:flex;
    justify-content:space-around;
}

.actions  .edit button
{
    background-color: orchid;
    color:white;
}

.actions .delete button
{
    background-color: brown;
    color:white;
}
