



<div class="container">
    <h1 class="formTitle">Add a new car for sale</h1>
    <div class="row align items start">
    <div class="mb-3 col">
        <label for="title" class="form-label formLabelStyle">Title</label>
        <textarea type="text" id="title" class="form-control">

        </textarea>
    </div>
    <div class="row">
        <div class="mb-3 col">
            <label for="carNumber" class="form-label formLabelStyle">Car Number:</label>
            <input type="text" id="carNumber" class="form-control">
        </div>
        <div class="mb-3 col">
            <label for="productionYear" class="form-label formLabelStyle">Production Year:</label>
            <input type="text" id="productionYear" class="form-control">
        </div>
    </div>
   </div>
   <div class="row">
    <div class="mb-3 col">
        <label for="price" class="form-label formLabelStyle">Price:</label>
        <input type="number" id="price" class="form-control">
    </div>
    <div class="mb-3 col">
        <label for="addingDate" class="form-label formLabelStyle">Adding date</label>
        <input type="date" class="form-control">
    </div>
   </div>
   <div class="row">
    <div class="mb-3 col">
        <label for="fuel type" class="form-label formLabelStyle">Fuel Type:</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
    <div class="mb-3 col">
        <label for="brandId" class="form-label formLabelStyle">Brand </label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
    <div class="mb-3 col">
        <label for="carTypeId" class="form-label formLabelStyle">Car Type</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label formLabelStyle">Description:</label>
        <angular-editor type="text" class="form-control">
        </angular-editor>
    </div>
    <div class="mb-3">
        <label for="Images" class="form-label formLabelStyle">Upload images:</label>
        <input type="file" id="files" name="files" multiple><br><br>
    </div>
   <div class="mb-3">
    <label for="model" class="form-label formLabelStyle">Model name:</label>
    <input type="text" class="form-control">
   </div>
   <div class="mb-3">
    <label for="cilindricCapacity" class="form-label formLabelStyle">Cilindric Capacity</label>
    <input type="number" class="form-control">
   </div>
  


</div>


