



.container
{
    width:85%;
    margin:2rem auto;
    border:1px solid gray;
    height:100%;
}


.feed
{
    display:flex;
    flex-wrap: wrap;
    column-gap:3.33%;
    row-gap: 5%;
    flex-direction: row;
}

.car
{
    width: 30%;
    height:30%;
    margin-top:.7rem;
    display:flex;
    border:1px solid gainsboro;
}

.details    
{
    width:99%;
    border-left:1px solid gainsboro;
    text-indent: .5rem;
}

.details .title
{
    font-weight: bold;
    text-align: center;
}