



body
{
    background-color:gainsboro;
}

.container
{
    width:85%;
    margin:2rem auto;
    border:1px solid gray;
    background-color: whitesmoke;
}


.feed
{
    display:flex;
    flex-wrap: wrap;
    column-gap:2%;
    row-gap: 5%;
    height: 100%;
    flex-direction: row;
    margin-top:.5rem;
}

.car
{
    width: 30%;
    height:45%;
    margin-top:.7rem;
    border:1px solid gainsboro;
}




.heartBtn
{
    background-color: #0b2239;
    color:white;
}

.heart:hover
{
    color:red;
}

.details
{
    background-color: #0b2239;
    color:white;
}

.favorite
{
    color:#0b2239;
    border:1px solid gray;
}

.favorite:hover
{
    color:white;
    background-color: #0b2239;
}


.filters
{
    border:.2rem solid gainsboro;
    width:35%;
    padding:.5rem;
    height:30%;
    background-color: white;
}

.filters .lowerMargin:input,.upperMargin:input
{
    text-align: center;
}

.searchByTitle
{
    margin-top:.7rem;
}

.search
{
   width:30%;
   margin:3rem auto;
   text-align: center;
}

.search .button button
{
    background-color: #0b2239;
    color:white;
}


.pagination
{
    margin:3rem auto;
    width:50%;
    text-align: center;
}

.carsPerPage
{
    width:5rem;
    margin:0rem 2rem;
}

.btn 
{
    background-color:#0b2239;
    color:whitesmoke;
    margin:0rem .3rem;
    text-align: center;
}



