


<div class="container">
    <div class="filters">

    </div>
    <div class="feed">
        <div class="car">
            <div class="image">
                <img src="https://cardealerwebapi.blob.core.windows.net/cardealerapipics/image27f053fec-238a-4fdc-3494-08da23b0d29c"
                width="150px" height="150px"
                >
            </div>
            <div class="details">
                <h3 class="title">Opel Mokka 1.6 CDTI ECOTEC </h3>
                <ul>
                    <li>2016</li>
                    <li>178000</li>
                    <li>Diesel</li>
                </ul>

                <div class="price">
                    <span>Price:</span>
                    <span>6000</span>
                </div>
            </div>
        </div>
    </div>
</div>