



.container
{
    width:85%;
    margin:2rem auto;
    border:1px solid gray;
}


.feed
{
    display:flex;
    flex-wrap: wrap;
    column-gap:2%;
    row-gap: 5%;
    height: 100%;
    flex-direction: row;
}

.car
{
    width: 30%;
    margin-top:.7rem;
    border:1px solid gainsboro;
}




.heartBtn
{
    background-color: #0b2239;
    color:white;
}

.heart:hover
{
    color:red;
}

.details
{
    background-color: #0b2239;
    color:white;
}

.favorite
{
    color:#0b2239;
    border:1px solid gray;
}

.favorite:hover
{
    color:white;
    background-color: #0b2239;
}



