


<div class="container">
    <div class="filters">

    </div>
    <div class="feed">
        <mat-card *ngFor = "let car of paginatedDTO?.results" class="car">
            <mat-card-header>
                <mat-card-title>{{car.title}} - <span> {{car.price}} </span>&euro;</mat-card-title>
                <mat-card-subtitle>Car added on {{car.addingDate}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image 
            src = "https://cardealerwebapi.blob.core.windows.net/cardealerapipics/image27f053fec-238a-4fdc-3494-08da23b0d29c"
            >
            <mat-card-content>
                <ul>
                    <li>Production Year : {{car.productionYear}}</li>
                    <li *ngIf ="car.modelName != null">{{car.modelName}}</li>
                    <li>Cilindric Capacity : {{car.cilindricCapacity}}</li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="details" (click)="getCar(car.id)">
                    Details
                    <mat-icon>subject</mat-icon>
                </button>
               <button mat-button class="favorite">
                <mat-icon>favorite</mat-icon>
               </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>