


<div class="container">
    <div class="filters">

    </div>
    <div class="feed">
        <div *ngFor = "let car of paginatedDTO?.results" class="car">
            <div class="image">
                <img src="https://cardealerwebapi.blob.core.windows.net/cardealerapipics/image27f053fec-238a-4fdc-3494-08da23b0d29c"
                width="150px" height="150px"
                >
            </div>
            <div class="details">
                <h3 class="title">{{car.title}}</h3>
                <ul>
                    <li>{{car.productionYear}}</li>
                    <li>{{car.fuelType?.name}}</li>
                </ul>

                <div class="price">
                    <span>Price:</span>
                    <span>{{car.price}}</span>
                </div>
            </div>
        </div>
    </div>
</div>