


<mat-toolbar class="navbar">
    <h1>Car Dealer</h1>
    <div class="links">
        <a mat-button routerLink="addCar" class="btn">
            <span>Add Car</span>
        </a> 
        <a mat-button routerLink="carFeed" class="btn">
            <span>Car Feed</span>
        </a>
        <a mat-button routerLink="favorites" class="btn">
            <span>Wish list</span>
        </a>
        <a mat-button routerLink="login" class="btn">
            <span>Login</span>
        </a>
        <a mat-button routerLink="signUp" class="btn">
            <span>Sign up</span>
        </a> 
        
    </div>

</mat-toolbar>